extends layout

block content
    h2.info-box= title
    p.info-box Obadaj co do szamania dziś: #{today}
    .card
        .card-header
            | Awokado
        .card-body
            ul.list-group
                for item in menus[0]
                    li.list-group-item=item
    .card
        .card-header
            | Fresh
        .card-body
            //  TODO: Create fresh scraper
            ul.list-group
                li.list-group-item.list-group-item-danger Not available right now :(
    .card
        .card-header
            | Zielone Tarasy
        .card-body
            ul.list-group
                for dish in menus[1]
                     li.list-group-item= dish
